*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*propriedades de pagina INDEX contenedor*/

#contenedor_pagina_menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.7fr;
    grid-template-rows: 1.3fr 5fr 3fr 5fr 1.3fr;
    grid-template-areas: 
    "header nav nav nav nav"
    "main main main main main"
    "section1 section1 section1 section1 section1"
    "section2 section2 section2 section2 lateral"
    "footer footer footer footer footer";
    row-gap: 60px;
    
        
       
}

/*propriedades de pagina menu.html - areas hijas*/

.contenedor_pagina_menu_header{
    grid-area: header;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content:center;
    align-items:center;
    background-color: rgb(22, 22, 222);
    height: 175px;
    width: 550px;
    padding: 25px;
    
}

.contenedor_pagina_menu_nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
    background-color: rgb(22, 22, 222);
    height: 175px;
    
    
                  
}

/*DROPDOWN*/

.dropdown {
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .dropdown:hover .dropdown-content {
    font-family: 'Poppins', sans-serif;
    display: block;
  }
  
  .btn:hover, .dropdown:hover .btn {
    background-color: #0b7dda;
  }



.contenedor_pagina_menu_main{
    grid-area: main;
    display: flex;
    flex-direction: column-reverse;
    background-image: url("../images/Fachada principal.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    margin-left: 0px;
    
     
      
}

.contenedor_pagina_menu_lateral{
    color: white;
    background-color: rgb(47, 6, 131);
}

.contenedor_pagina_menu_section1{
    grid-area: section1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-items: center;
    align-content: left;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(226, 226, 203);
    
    
    
}

.contenedor_pagina_menu_section2{
    grid-area: section2;
    display: flex;
    flex-direction: row;
    justify-content: stretch ;
    justify-items: stretch;
    align-content: stretch;
    align-items: stretch;
    background-color: goldenrod;
    
    

}

.contenedor_pagina_menu_footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: black;
    color: white;
    
   
}

/*GENERICOS ANIMATIONS TRANSFORMATION & PIMPING*/



/* TEXT SHADOW*/

.text_shadow{
    color:white;
    text-shadow: 2px 2px 4px #000000;
    }


                    /* MALDITO TOOLTIP --- llev칩 m치s de 4 horas entenderlo*/
    
                    /*tootlip INDEX header*/
    .tooltip {
    position: relative;
    display: inline-block;
    z-index: 1;
    
    }

    .tooltip .tooltiptext {
        font-size: 20px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 100%;
    left: 0%;
    margin: 0px;
    height: 300px;
    width: 180px;
    position: absolute;
    z-index: 1;
    }

    .tooltip:hover .tooltiptext {
    visibility: visible;
        }

                        /*tootlip INDEX wp*/

    .tooltip .tooltiptextwp {
        font-size: 20px;
    visibility: hidden;
    background-color: yellow;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    font-family: 'Poppins', sans-serif;

    position: fixed;
    
    right: 0;
    bottom: 150px;
    height: 220px;
    width: 220px;
    z-index: 1;
    border-radius: 25px;
    
    }

    .tooltip:hover .tooltiptextwp {
        visibility: visible;
    }


                        /*tootlip PAGES header*/
    .tooltip2{
        position: relative;
    display: inline-block;
    }

    .tooltip2 .tooltiptext2 {
        font-size: 20px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    padding: 5px 0;
    top: 100%;
    left: 0%;
    margin: 0px;
    height: 300px;
    width: 180px;
    position: absolute;
    z-index: 1;
    }

    .tooltip2:hover .tooltiptext2 {
        visibility: visible;
        }

                        /*tootlip PAGES wp*/

    .tooltip2{
        position: relative;
    display: inline-block;
        
    }

    .tooltip2 .tooltiptextwp {
        font-size: 20px;
    visibility: hidden;
    background-color: yellow;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    right: 0;
    bottom: 150px;
    height: 220px;
    width: 220px;
    z-index: 1;
    border-radius: 25px;
    
    }


    .tooltip2:hover .tooltiptextwp {
        visibility: visible;
        }

   

    .transformaciones3D1:hover{
        width:fit-content;
        height:fit-content ;
        background-color: white;
        color: black;
        transform: rotatey('360');
        }
    
    .transformaciones3D2:hover{
        width:fit-content;
        height:fit-content ;
        background-color: white;
        color: black;
        transform: rotatex('360');
        }
    
    .transformaciones2D1:hover {
            transform:skewY('360');
          }
        
    
    .transformaciones2D2:hover{
        transform: rotate('360');
    }
    
    .animations1{
        width: 100px;
        height: 100px;
        position:relative;
        animation-name: corredor;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        color: red;

    }

    .animations2{
        width: 100px;
        height: 100px;
        position:relative;
        animation-name: corredor;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;

    }

    .animations3{
        width: 100px;
        height: 100px;
        position:relative;
        animation-name: corredor;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-out;
        

    }

    @keyframes corredor{
        0%{color:red;left:0px; top:0px}
        20%{color:rgb(215, 247, 102);left:4px; top:0px}
        40%{color:rgb(43, 255, 0);left:80px; top:0px}
        60%{color:rgb(68, 38, 243);left:120px; top:0px}
        80%{color:rgb(246, 246, 28);left:160px; top:0px}
        100%{color:rgb(254, 2, 2);left:190px; top:0px}
        
    }

    .animate__lightSpeedInLeft:hover{
        display: flex;   
        justify-content: center;
        justify-items: center; 
        animation-duration: 6s;
        animation-iteration-count: infinite;
        
        }


    .animate__flip:hover{    
        color: rgb(255, 255, 255); font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; width: 500px;
        
        animation-duration: 4s;
        animation-iteration-count: infinite;
        }

    .animate__flipInY:hover{    
        color: rgb(255, 255, 255); font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; width: 500px;
        
        animation-duration: 4s;
        animation-iteration-count: infinite;
        }
    .animate__rotateIn:hover{    
        color: rgb(255, 255, 255); font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; width: 500px;
        
        animation-duration: 4s;
        animation-iteration-count: infinite;
        }
    

        

        .animate__swing:hover{    
            color: rgb(255, 255, 255); font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; width: 500px;
            
            animation-duration: 4s;
            animation-iteration-count: infinite;
            }
        
        .animate__rollIn:hover{    
            color: rgb(255, 255, 255); font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; width: 500px;
            
            animation-duration: 4s;
            animation-iteration-count: infinite;
            }

        .animate__shakeY:hover{    
            color: rgb(255, 255, 255); font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; width: 500px;
            
            animation-duration: 4s;
            animation-iteration-count: infinite;
            }

        .animate__jackInTheBox:hover{    
            color: rgb(255, 255, 255); font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; width: 500px;
            
            animation-duration: 4s;
            animation-iteration-count: infinite;
            }

        .animate__fadeIn:hover{    
            color: rgb(255, 255, 255); font-size: 20px; font-family: 'Poppins', sans-serif; font-weight: 500; width: 500px;
            
            animation-duration: 4s;
            animation-iteration-count: infinite;
            }


/*Propriedades por etiquetas index*/

/* BODY*/

/*HEADER*/


h1{    
    color: rgb(255, 255, 255);  text-transform: uppercase; font-size: 50px; font-family: 'Poppins', sans-serif; font-weight: 500; width: 500px;
    animation:pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    }
     


/*NAV*/




nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;  font-family: 'Poppins', sans-serif; align-items: center; 
    
    
    
    
    }

nav ul li{
    display: flex;
    color: white; display: inline-block; padding: 8px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    justify-items: baseline;
    align-items: baseline;
    align-content: center;
    margin: 0px;
    overflow: auto;
    
    
    

}

nav ul li a:hover{

    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
        
    }

nav ul li a.highlight:hover{

    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
        
    }




/*MAIN*/

.index_main_i{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(20, 9, 81);
    background-image: radial-gradient(circle, rgb(22, 22, 222),rgb(98, 107, 203));
    padding: 30px;
    width: 450px;
    height: 400px;
    overflow: auto;
    z-index: 1;
    left: 0px;
  bottom: 0px;
    }

    

main i h2{
    font-family: 'Poppins', sans-serif; font-weight: 100;
    font-size: 40px;
}

main i p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}



/* SECTION 1*/

.contenedor_pagina_menu_section1 div{
    width: 25%;
    align-items: center;
    align-content: center;
    
   
    }



    

    .button {
        position: relative;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        left: 25%;
        right: 25%;
        border-radius: 4px;
        background-color: #1e22f4;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        margin: 5px;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        }
        
        .button:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
        }
        
        .button:hover {
        padding-right: 25px;
        }
        
        .button:hover:after {
        cursor: pointer;
        opacity: 3;
        right: 0;
        }


/*SECTION 2*/

.contenedor_pagina_menu_section2{
    background-image: url("../images/patio.jpg");
    background-size: cover;
    
    
}


/*Lateral*/

.contenedor_pagina_menu_lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 15px;
    
    

}

.contenedor_pagina_lateral_h2{
    display: flex;
    font-family: 'Poppins', sans-serif; font-weight: 100;
    font-size: 40px;
    color: white;
  }
  
  .contenedor_pagina_lateral_p{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    
  }
  


/*FOOTER*/

footer ul{list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    

}


footer ul{
    
    width: 200px;
}

footer span ul{
    
    width: 200px;
}

footer div h2{
    display: inline;
    
}

footer div ul div{
    
    width:fit-content;
    height:fit-content ;
    color: white;
    background-color: black;
}

footer div img{
    position: relative;
}

.wplogo{
    
    position: fixed;
    right: 0;
    bottom: 50px;
    height: 130px;
    width: 130px;
    z-index: 1;
    border-radius: 25px;
}












/*Propriedades por etiquetas p치gina Carta*/

/* BODY*/

.contenedor_pagina_carta{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "header nav"
    "main main"
    "section1 section1"
    "section2 section2"
    "section3 section3"
    "footer footer";
    row-gap: 60px;
    

}

/*MAIN*/




.carta_body_main{
    grid-area: main;
    display: flex;
    
    flex-direction: column-reverse;
    background-image: url("../images/carta\ fachada\ principal.webp") ;
    background-repeat: no-repeat;
    object-fit: fill;
    position: relative;
    top: 0px;
    background-position: top center;
    
}

.carta_body_main_i{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(20, 9, 81);
    background-image: radial-gradient(circle, rgb(255, 0, 0),rgb(243, 194, 194));
    padding: 30px;
    width: 375px;
    height: 420px;
    
    z-index: 1;
    position: relative;
    left: 75px;
  
    }

    .carta_body_main_i h2{
        font-family: 'Poppins', sans-serif; font-weight: 100;
        font-size: 40px;

    }

    body .Carta_main div i h2{
    font-family: 'Poppins', sans-serif; font-weight: 100;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

body .Carta_main div i p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.carta_button{
    font-family: 'Poppins', sans-serif;
        position: relative;
        border-radius: 4px;
        border: solid black 2px;
        color: #FFFFFF;
        
        font-size: 28px;
        padding: 10px;
        width: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #f1f1f1;
        color: black;
        font-size: 16px;
        padding: 16px 30px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
       
}    
.carta_button:hover{       
    background-color: black;
    color: white;
    }
    
    .container .btn:hover {
    background-color: black;
    color: white;
    }


.carta_section1{
grid-area: section1;
display: flex;
height: 400px;
row-gap: 40px;



}


.carta_section2{
grid-area: section2;
display: flex;
height: 400px;
row-gap: 40px;

background-image: url("../images/carta\ fachada\ principal.webp") ;
background-repeat: no-repeat;
object-fit: fill;
position: relative;
background-position: center;

}


.carta_section3{
grid-area: section3;
display: flex;
height: 400px;
row-gap: 40px;

background-image: url("../images/carta\ fachada\ principal.webp") ;
background-repeat: no-repeat;
object-fit: fill;
position: relative;
background-position: center;

}




/*Propriedades por etiquetas p치gina Tienda On Line*/

/* BODY*/



.contenedor_pagina_TiendaOnLine{

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 0.7fr 0.7fr;
    grid-template-areas: 
    "header nav"
    "main main"
    "section section"
    "footer footer";
    row-gap: 160px;
    
    
    

}


.TiendaOnLine_main_flex-container{
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;  
  bottom: 0px;
  left: 0px;
       
}




.TiendaOnLine_main_flex-hijo1{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgb(255, 4, 4),rgb(238, 172, 172));
  height: 550px;
  width: 30%;
  padding: 10px;
  justify-content: center;
  }

.TiendaOnLine_main_flex-hijo1 h2{
    width: fit-content;
 font-family: 'Poppins', sans-serif; font-weight: 100;
  font-size: 30px;
  color: white;
  animation: bounceIn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.TiendaOnLine_main_flex-hijo1 p{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  
}



.TiendaOnLine_main_flex-hijo2{

  display: flex;
  flex-direction: column;
  background-image: url("../images/gif\ carrito.gif");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 550px;
  width: 45%;
  filter: drop-shadow(8px 8px 10px gray);
  font-family: 'Poppins', sans-serif;
    font-size: large;
}

.TiendaOnLine_main_flex-hijo2 article{
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    padding: 0px 45px 0px 45px;
    font-size: 20px;
    }


.TiendaOnLine_main_flex-hijo3 {
    padding: 10px;
    height: 50px;
    justify-content: left;
    align-items: center;
    
  }
  
.TiendaOnLine_form_legend{
    color: aliceblue;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    
    

  }

.TiendaOnLine_form_label{
    color: aliceblue;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    
}

.TiendaOnLine_form_placeholder{
    color: black;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.fa_fa-user_icon{
    height: 8px;
    width:8px;
}

.TiendaOnLine_formulario :focus{
    display: flex;
    box-sizing: border-box;
    width: 55%;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    box-sizing: border-box;
    left: auto;
    border-radius: 12px;
    padding: 30px 30px;
    margin: 8px 0px;
    padding: 12px 20px 12px 20px;
    transition: width 1.5 ease-in-out 3s;
    
    border: solid;
    cursor: pointer;
    position: relative;
    left: 100px;
    }

.TiendaOnLine_main_flex-hijo3{
  display: flex;
  flex-direction: row;
  background-color: rgb(22, 22, 222);
  height: 550px;
  width: 30%;
  background-image: linear-gradient(to left, rgb(22, 22, 222),rgb(174, 174, 249));
}

.TiendaOnLine_section_flex-container{
    grid-area: section;
    position: relative;
    width: 1200px;
    left: 8%;
     
    padding: 0px;
    
    
}


