
    @keyframes corredor{
        0%{color:red;left:0px; top:0px}
        20%{color:rgb(215, 247, 102);left:4px; top:0px}
        40%{color:rgb(43, 255, 0);left: 60px;top:0px}
        60%{color:rgb(68, 38, 243);left: 80px;top:0px}
        80%{color:rgb(246, 246, 28);left: 120px;top:0px}
        100%{color:rgb(254, 2, 2);left: 140px;top:0px}
        
    }

    @keyframes corredor2{
        0%{color:red;left:145px; top:0px}
        20%{color:rgb(215, 247, 102);left:290px; top:0px}
        40%{color:rgb(43, 255, 0);left:410px; top:0px}
        60%{color:rgb(68, 38, 243);left:550px; top:0px}
        80%{color:rgb(246, 246, 28);left:690px; top:0px}
        100%{color:rgb(254, 2, 2);left:830px; top:0px}
        
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }