*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  /*propriedades de pagina INDEX contenedor*/
  
  #contenedor_pagina_menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.7fr;
    grid-template-rows: 1.3fr 7.2fr 3fr 6.3fr 1.3fr;
    grid-template-areas: 
    "header nav nav nav nav"
    "main main main main main"
    "section1 section1 section1 section1 section1"
    "section2 section2 section2 section2 lateral"
    "footer footer footer footer footer";
    row-gap: 60px; 
        
       
  }
  
  /*propriedades de pagina menu.html - areas hijas*/
  
  .contenedor_pagina_menu_header{
    grid-area: header;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content:center;
    align-items:center;
    background-color: rgb(22, 22, 222);
    height: 175px;
    width: 550px;
    padding: 25px
    
  }
  
  .contenedor_pagina_menu_nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(22, 22, 222);
    height: 175px;
                     
  }
  .contenedor_pagina_menu_main{
    grid-area: main;
    display: flex;
    flex-direction: column-reverse;
    background-image: url("../images/Fachada principal.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    margin-left: 0px;
    height:900px;
    
}

.contenedor_pagina_menu_lateral{
    color: white;
    background-color: rgb(47, 6, 131);
    height:900px;
}

.contenedor_pagina_menu_section1{
    grid-area: section1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-items: center;
    align-content: left;
    align-items: center;
    flex-wrap: wrap;
    height: 430px;
    background-color: rgb(226, 226, 203);
    
    
    
}

.contenedor_pagina_menu_section2{
    grid-area: section2;
    display: flex;
    flex-direction: row;
    justify-content: stretch ;
    justify-items: stretch;
    align-content: stretch;
    align-items: stretch;
    background-color: goldenrod;
    height:900px;
    
    

}

.contenedor_pagina_menu_footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: black;
    color: white;
    
   
}
