
/*CARD C.E.O. - HISTORIA.html*/
.historia_card{
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    position: relative;
    height: 605px;
      top: 780px;
  }
  
  .historia_card_title{
    font-family: 'Poppins', sans-serif; font-weight: 300;
      color: grey;
      font-size: 20px;
  }
  
  .historia_card_texto{
    font-family: 'Poppins', sans-serif; font-weight: 300;
      color: grey;
      font-size: 16px;
  }
   


  .historia_card_button{
      border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
  .historia_card_button:hover{
      opacity: 0.7;
  }
  
  .historia_card_position{
    position: absolute;
    top: 355px;
    left: 580px;
  }



/*FLIP - CARD - DASHOBOARD - FRANQUICIAS.html*/




.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    top: 250px;
    right: 30px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: 'Poppins', sans-serif;
font-size: 18px;
  }

  .flip-card-front, .flip-card-back p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

